.crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../../../public/pages/crew/background-crew-mobile.jpg") center/cover no-repeat;
}

.crew__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 24px;
}

.crew__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.crew__title::before {
  content: "03";
  margin-right: 24px;
  opacity: 25%;
}

@media (min-width: 768px) {
  .crew {
    background: url("../../../../public/pages/crew/background-crew-tablet.jpg") center/cover no-repeat;
  }

  .crew__title {
    font-size: 20px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .crew {
    background: url("../../../../public/pages/crew/background-crew-desktop.jpg") center/cover no-repeat;
  }
}
