.header {
  position: fixed;
  top: 0;

  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--site-padding-inline-mobile);
  padding-block: 24px;

  .header__logo {
    width: 40px;
    height: 40px;
  }

  .header__burger-btn {
    z-index: 100;
    width: 24px;
    height: 20px;
  }

  .header__burger-btn.open {
    height: 24px;
  }

  .header__nav {
    display: none;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100vh;
    background-color: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(12px);

    .header__list {
      position: relative;
      top: 130px;

      display: flex;
      flex-direction: column;

      list-style: none;
      margin: 0;
      padding: 0;

      counter-reset: nav-counter;

      .header__item {
        .header__link {
          position: relative;
          min-width: 100%;
          display: block;

          padding: var(--site-padding-inline-mobile);
          text-decoration: none;

          color: white;

          font-family: "Outfit", sans-serif;
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        .header__link::before {
          counter-increment: nav-counter;
          content: counter(nav-counter, decimal-leading-zero) " ";
          letter-spacing: 1px;
          margin-right: 12px;
          font-weight: 700;
        }

        .header__link::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 4px;
          height: 100%;

          background-color: transparent;
          transition: background-color 0.2s ease;
        }


        .header__link:hover::after {
          background-color: rgba(255, 255, 255, 0.5);;
        }

        .header__link.header__link--active::after {
          background-color: white;
        }
      }
    }
  }

  .header__nav.open {
    position: absolute;
    display: block;
    position: fixed;
  }
}

@media (min-width: 768px) {
  .header {
    padding-inline: var(--site-padding-inline-tablet);

    .header__burger-btn {
      display: none;
    }

    .header__logo {
      width: 48px;
      height: 48px;
    }

    .header__nav,
    .header__nav.open {
      display: block;
      position: static;

      height: auto;
      width: auto;

      background-color: transparent;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;

      .header__list {
        position: initial;
        flex-direction: row;

        .header__item {
          .header__link {
            font-size: 16px;
            min-width: initial;
            padding: 22px;
          }

          .header__link::after {
            /* Set line to the bottom of the link. */
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 4px;

            transition: background-color 0.2s ease, opacity 0.2s ease;
          }

          .header__link::before {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding-inline: var(--site-padding-inline-desktop);
  }
}
