:root {
  --background-image-mobile: url("/pages/home/background-home-mobile.jpg");
  --background-image-tablet: url("/pages/home/background-home-tablet.jpg");
  --background-image-desktop: url("/pages/home/background-home-desktop.jpg");

  --site-padding-inline-mobile: 24px;
  --site-padding-inline-tablet: 40px;
  --site-padding-inline-desktop: 64px;
}

button {
  background: none;
  border: none;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
